body {
  margin: 0;
  padding: 0;
}
h3 {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

section.body {
  width: 90%;
  margin: 0px auto;
}

nav {
  margin-bottom: 10px;
}

.card {
  border-style: solid;
  border-color: #999;
  border-width: 1px;
  width: 250px;
}

input[type="text"] {
  border: solid 1px #999;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px;
}

table th {
  background-color: #777;
  color: white;
}

th,
td {
  height: 30px;
}

tr > td {
  padding: 8px;
}

td.id {
  width: 120px;
  text-align: center;
}
td.company {
  width: 150px;
  text-align: center;
}

td.price {
  text-align: right;
  width: 100px;
}

footer {
  margin-top: 20px;
}
